.pageContent {
    display: flex;
    justify-content: center;
}

.pageContent[data-main="true"] {
    display: block;
}

.pageContent > p {
    position: relative;
    padding: 0 1vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}