.searchForm {
    position: relative;
    align-content: center;
    text-align: center;
}
.searchForm input {
    border-radius: 8px;
    width: 35vw;
    height: 4vh;
    margin-top: 13px;
    background-color: #f7f5f5;
}
.searchForm button {
    margin-left: 10px;
    border-radius: 5px;
    width: 5vw;
    height: 4.3vh;
    background-color: #f7f5f5;
}
.searchList {
    position: absolute;
    top: 6vh;
    left: 29.1vw;
    z-index: 1;
    transition:
        0.2s ease transform,
        0.2s ease opacity;
    transform: translateY(-50%);
    opacity: 0;
}
.searchList_active {
    transform: translateY(0%);
    opacity: 1;
}
.searchListItem {
    width: 35vw;
    height: 4vh;
    border-radius: 8px;
    background-color: white;
}

/* @keyframes appearance {
    from {
        transform: translateY(-1vw);
    }
    to {
        transform: translateY(0);
    }
} */